# DEMOGRAPHIC DATA ANALYZER

In [1]:
import pandas as pd

READING THE DATA FROM THE CSV FILE

In [3]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [7]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [8]:
average_age_men = df.loc[df['sex'] == 'Male', 'age'].mean()
average_age_men

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [9]:
percentage_bachelors = (df.education == 'Bachelors').mean() * 100
percentage_bachelors

16.44605509658794

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [10]:
higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
higher_education

0         True
1         True
2        False
3        False
4         True
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

In [11]:
higher_education_rich = df.loc[(higher_education & (df['salary'] == ">50K"))].value_counts().sum() / df[higher_education].value_counts().sum() * 100
higher_education_rich

46.535843011613935

What percentage of people without advanced education make more than 50K?

In [12]:
lower_education = ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education

0        False
1        False
2         True
3         True
4        False
         ...
32556     True
32557     True
32558     True
32559     True
32560     True
Name: education, Length: 32561, dtype: bool

In [13]:
lower_education_rich = df.loc[(lower_education & (df['salary'] == ">50K"))].value_counts().sum() / df[lower_education].value_counts().sum() * 100
lower_education_rich

17.3713601914639

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [14]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [15]:
num_min_rich = df.loc[(df['hours-per-week'] == min_work_hours)& (df['salary'] == ">50K")].value_counts().sum()
num_min_rich

2

In [16]:
rich_percentage = num_min_rich / df.loc[df['hours-per-week'] == min_work_hours].value_counts().sum() * 100
rich_percentage

10.0

What country has the highest percentage of people that earn >50K?

In [17]:
highest_earning_country = (df[df['salary'] == '>50K']['native-country'].value_counts() /df['native-country'].value_counts() * 100).sort_values(ascending=False).index[0]
highest_earning_country

'Iran'

In [18]:
highest_earning_country_percentage = (df[df['salary'] == '>50K']['native-country'].value_counts() /df['native-country'].value_counts() * 100).sort_values(ascending=False).iloc[0]
highest_earning_country_percentage

41.86046511627907

Identify the most popular occupation for those who earn >50K in India.

In [19]:
top_IN_occupation = df.loc[(df['salary'] == ">50K") & (df["native-country"] == "India"), "occupation"].iloc[0]
top_IN_occupation

'Prof-specialty'